.mbr-navbar {
  position: relative;
  width: 100%;
}
.mbr-navbar:before {
  content: "";
  display: block;
}
.mbr-navbar__brand-link:after,
.mbr-navbar__brand-img {
  height: 40px;
}
.mbr-navbar:before,
.mbr-navbar__container {
  height: 98px;
}
.mbr-navbar--ss .mbr-navbar__brand-link:after,
.mbr-navbar--ss .mbr-navbar__brand-img {
  height: 74px;
}
.mbr-navbar--ss:before,
.mbr-navbar--ss .mbr-navbar__container {
  height: 98px;
}
.mbr-navbar--xs .mbr-navbar__brand-link:after,
.mbr-navbar--xs .mbr-navbar__brand-img {
  height: 32px;
}
.mbr-navbar--xs:before,
.mbr-navbar--xs .mbr-navbar__container {
  height: 56px;
}
.mbr-navbar--s .mbr-navbar__brand-link:after,
.mbr-navbar--s .mbr-navbar__brand-img {
  height: 48px;
}
.mbr-navbar--s:before,
.mbr-navbar--s .mbr-navbar__container {
  height: 72px;
}
.mbr-navbar--m .mbr-navbar__brand-link:after,
.mbr-navbar--m .mbr-navbar__brand-img {
  height: 64px;
}
.mbr-navbar--m:before,
.mbr-navbar--m .mbr-navbar__container {
  height: 88px;
}
.mbr-navbar--l .mbr-navbar__brand-link:after,
.mbr-navbar--l .mbr-navbar__brand-img {
  height: 96px;
}
.mbr-navbar--l:before,
.mbr-navbar--l .mbr-navbar__container {
  height: 120px;
}
.mbr-navbar--xl .mbr-navbar__brand-link:after,
.mbr-navbar--xl .mbr-navbar__brand-img {
  height: 128px;
}
.mbr-navbar--xl:before,
.mbr-navbar--xl .mbr-navbar__container {
  height: 152px;
}
.mbr-navbar--short .mbr-navbar__brand-link:after,
.mbr-navbar--short .mbr-navbar__brand-img {
  height: 40px;
}
.mbr-navbar--short:before,
.mbr-navbar--short .mbr-navbar__container {
  height: 64px;
}
.mbr-navbar--short .mbr-navbar__container {
  padding: 12px 0;
}
@media (max-width: 767px) {
  .mbr-navbar--short .mbr-navbar__brand-link:after,
  .mbr-navbar--short .mbr-navbar__brand-img {
    height: 31px;
  }
  .mbr-navbar--short:before,
  .mbr-navbar--short .mbr-navbar__container {
    height: 45px;
  }
  .mbr-navbar--short .mbr-navbar__container {
    padding: 7px 0;
  }
}
.mbr-navbar__brand-img {
  position: relative;
}
.mbr-navbar__brand-img,
.mbr-navbar__container,
.mbr-navbar__section {
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.mbr-navbar__section {
  background: #68385B;
  height: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.mbr-navbar__container {
  display: table;
  padding: 12px 0;
  width: 100%;
}
.mbr-navbar__menu-box {
  display: table;
  width: 100%;
}
.mbr-navbar__menu-box--inline-left,
.mbr-navbar__menu-box--inline-center,
.mbr-navbar__menu-box--inline-right {
  display: block;
  text-align: left;
}
.mbr-navbar__menu-box--inline-center {
  text-align: center;
}
.mbr-navbar__menu-box--inline-right {
  text-align: right;
}
.mbr-navbar__column {
  display: table-cell;
  vertical-align: middle;
}
.mbr-navbar__column--xxs {
  width: 1%;
}
.mbr-navbar__column--xs {
  width: 10%;
}
.mbr-navbar__column--s {
  width: 20%;
}
.mbr-navbar__column--m {
  width: 30%;
}
.mbr-navbar__column--l {
  width: 40%;
}
.mbr-navbar__column--xl {
  width: 50%;
}
.mbr-navbar__menu-box--inline-left .mbr-navbar__column,
.mbr-navbar__menu-box--inline-center .mbr-navbar__column,
.mbr-navbar__menu-box--inline-right .mbr-navbar__column {
  display: inline-block;
}
.mbr-navbar__items {
  float: left;
  padding-left: 0px;
  position: relative;
  left: -20px;
}
.mbr-navbar__items--right {
  float: right;
  left: 0;
}
.mbr-navbar__item {
  display: block;
  float: left;
  position: relative;
}
.mbr-navbar__hamburger {
  display: none;
  margin-top: -11px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10000;
  color: white;
}
.mbr-navbar--collapsed .mbr-navbar__container {
  position: relative;
}
.mbr-navbar--collapsed .mbr-navbar__column {
  display: block;
  width: 100%;
}
.mbr-navbar--collapsed .mbr-navbar__items--right {
  padding-top: 13px;
}
.mbr-navbar--collapsed .mbr-navbar__menu {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.mbr-navbar--collapsed .mbr-navbar__menu-box {
  display: table-cell;
  vertical-align: middle;
}
.mbr-navbar--collapsed .mbr-navbar__items {
  float: none;
}
.mbr-navbar--collapsed .mbr-navbar__item {
  float: none;
}
.mbr-navbar--collapsed .mbr-navbar__hamburger {
  display: block;
}
.mbr-navbar--collapsed.mbr-navbar--open .mbr-navbar__menu {
  display: table;
}
.mbr-navbar--collapsed.mbr-navbar--open:not(.mbr-navbar--sticky) .mbr-navbar__section {
  background: none;
  position: fixed;
}
.mbr-navbar--collapsed.mbr-navbar--open .mbr-navbar__brand {
  visibility: hidden;
}
.mbr-navbar--collapsed.mbr-navbar--sticky.mbr-navbar--open .mbr-navbar__brand {
  visibility: visible;
}
.mbr-navbar--collapsed.mbr-navbar--open .mbr-navbar__brand-img,
.mbr-navbar--collapsed.mbr-navbar--open .mbr-navbar__container {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.mbr-navbar--freeze.mbr-navbar--collapsed.mbr-navbar--open .mbr-navbar__hamburger,
.mbr-navbar--freeze.mbr-navbar--collapsed.mbr-navbar--open .mbr-navbar__hamburger:hover {
  color: #fff !important;
}
.mbr-navbar--sticky .mbr-navbar__section {
  position: fixed;
}
.mbr-navbar--absolute {
  position: absolute;
}
.mbr-navbar--transparent .mbr-navbar__section {
  background: none;
}
.mbr-navbar--stuck .mbr-navbar__section,
.mbr-navbar--relative .mbr-navbar__section {
  background: #68385B;
}
.mbr-navbar--stuck div div div .mbr-navbar__menu nav div ul li a{
  color: #fff;
}
.mbr-navbar--stuck div div div .mbr-navbar__menu nav div ul li a:hover{
  color: #FACDED;
}
.mbr-navbar--stuck div div div .mbr-navbar__menu nav div ul li a:focus{
  color: #FACDED;
}
@media (max-width: 991px) {
  .mbr-navbar--auto-collapse .mbr-navbar__container {
    position: relative;
  }
  .mbr-navbar--auto-collapse .mbr-navbar__column {
    display: block;
    width: 100%;
  }
  .mbr-navbar--auto-collapse .mbr-navbar__items--right {
    padding-top: 13px;
  }
  .mbr-navbar--auto-collapse .mbr-navbar__menu {
    background: rgba(0, 0, 0, 0.9);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .mbr-navbar--auto-collapse .mbr-navbar__menu-box {
    display: table-cell;
    vertical-align: middle;
  }
  .mbr-navbar--auto-collapse .mbr-navbar__items {
    float: none;
  }
  .mbr-navbar--auto-collapse .mbr-navbar__item {
    float: none;
  }
  .mbr-navbar--auto-collapse .mbr-navbar__hamburger {
    display: block;
  }
  .mbr-navbar--auto-collapse.mbr-navbar--open .mbr-navbar__menu {
    display: table;
  }
  .mbr-navbar--auto-collapse.mbr-navbar--open:not(.mbr-navbar--sticky) .mbr-navbar__section {
    background: none;
    position: fixed;
  }
  .mbr-navbar--auto-collapse.mbr-navbar--open .mbr-navbar__brand {
    visibility: hidden;
  }
  .mbr-navbar--auto-collapse.mbr-navbar--sticky.mbr-navbar--open .mbr-navbar__brand {
    visibility: visible;
  }
  .mbr-navbar--auto-collapse.mbr-navbar--open .mbr-navbar__brand-img,
  .mbr-navbar--auto-collapse.mbr-navbar--open .mbr-navbar__container {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .mbr-navbar--freeze.mbr-navbar--auto-collapse.mbr-navbar--open .mbr-navbar__hamburger,
  .mbr-navbar--freeze.mbr-navbar--auto-collapse.mbr-navbar--open .mbr-navbar__hamburger:hover {
    color: #fff !important;
  }
  .mbr-navbar__container {
    height: 50px;
  }
}
.mbr-after-navbar:before {
  content: "";
  display: block;
  height: 98px;
}
.mbr-hamburger {
  cursor: pointer;
  height: 23px;
  width: 30px;
}
.mbr-hamburger:focus {
  outline: none;
}
.mbr-hamburger__line,
.mbr-hamburger__line:before,
.mbr-hamburger__line:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  cursor: pointer;
}
.mbr-hamburger__line,
.mbr-hamburger__line:before,
.mbr-hamburger__line:after {
  width: 30px;
  border-bottom: 5px solid;
  top: 9px;
}
.mbr-hamburger__line:before {
  top: -9px;
}
.mbr-hamburger__line:after {
  top: 9px;
}
.mbr-hamburger__line,
.mbr-hamburger__line:before,
.mbr-hamburger__line:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.mbr-hamburger--open .mbr-hamburger__line {
  border-color: transparent;
}
.mbr-hamburger--open .mbr-hamburger__line:before,
.mbr-hamburger--open .mbr-hamburger__line:after {
  top: 0;
}
.mbr-hamburger--open .mbr-hamburger__line:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mbr-hamburger--open .mbr-hamburger__line:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg);
}
@media (max-width: 767px) {
  .mbr-hamburger {
    height: 23px;
    width: 27px;
  }
  .mbr-hamburger__line,
  .mbr-hamburger__line:before,
  .mbr-hamburger__line:after {
    width: 27px;
    border-bottom: 4px solid;
    top: 9px;
  }
  .mbr-hamburger__line:before {
    top: -9px;
  }
  .mbr-hamburger__line:after {
    top: 9px;
  }
}
.mbr-brand {
  display: block;
  float: left;
  position: relative;
}
.mbr-brand,
.mbr-brand:hover {
  text-decoration: none;
}
.mbr-brand__name {
  display: block;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}
.mbr-brand__name,
.mbr-brand__name:hover {
  text-decoration: none;
}
.mbr-brand--inline {
  display: table;
}
.mbr-brand--inline:after {
  content: "";
  display: table-cell;
  width: 1px;
}
.mbr-brand--inline .mbr-brand__logo,
.mbr-brand--inline .mbr-brand__name {
  display: table-cell;
  vertical-align: middle;
}
.mbr-brand--inline .mbr-brand__logo {
  padding-right: 10px;
}
.mbr-brand--inline .mbr-brand__name {
  margin: 0;
  text-align: left;
}
.mbr-section {
  padding: 0 20px;
}
.mbr-section--no-padding {
  padding: 0;
}
.mbr-section--relative {
  position: relative;
}
.mbr-section--fixed-size {
  overflow: hidden;
}
.mbr-section--full-height {
  height: 100vh;
}
.mbr-section--full-height.mbr-after-navbar:before {
  display: none;
}
.mbr-section--bg-adapted {
  background-attachment: scroll;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.mbr-section--gray {
  background-color: #444444;
}
.mbr-section--light-gray {
  background-color: #f0f0f0;
}
.mbr-section--dark-gray {
  background-color: #3c3c3c;
}
.mbr-section__container {
  padding: 0;
  position: relative;
  z-index: 3;
}
.mbr-section__container--std-padding {
  padding: 93px 0;
}
.mbr-section__container--sm-padding {
  padding: 41px 0;
}
.mbr-section__container--isolated {
  padding-bottom: 93px;
  padding-top: 93px;
}
.mbr-section__container--first {
  padding-top: 93px;
  padding-bottom: 41px;
}
.mbr-section__container--middle {
  padding-bottom: 41px;
}
.mbr-section__container--last {
  padding-bottom: 93px;
}
.mbr-section__left {
  padding-right: 40px;
}
.mbr-section__right {
  padding-left: 15px;
}
.mbr-section__header {
  line-height: 1.5em;
  margin: -10px 0 0;
  text-align: center;
}
@media (max-width: 767px) {
  .mbr-section__left {
    padding-right: 15px;
  }
  .mbr-section__right {
    padding-left: 15px;
    padding-top: 51px;
  }
}
.mbr-buttons {
  margin: -26px 0 13px 0;
  position: relative;
  text-align: left;
  top: 26px;
}
.mbr-buttons__btn,
.mbr-buttons__link {
  margin: 0 10px 13px 0;
}
.mbr-buttons__btn,
.mbr-buttons__link,
.mbr-buttons__btn:hover,
.mbr-buttons__link:hover {
  text-decoration: none;
}
.mbr-buttons--no-offset {
  margin-top: 0;
  top: 0;
}
.mbr-buttons--only-links {
  left: -20px;
}
.mbr-buttons--center {
  left: 5px;
  text-align: center;
}
.mbr-buttons--center.mbr-buttons--only-links {
  left: 0;
}
.mbr-buttons--right {
  text-align: right;
}
.mbr-buttons--right .mbr-buttons__btn,
.mbr-buttons--right .mbr-buttons__link {
  margin: 0 0 13px 10px;
}
.mbr-buttons--right.mbr-buttons--only-links {
  left: 20px;
}
.mbr-buttons--activated {
  left: 5px;
  text-align: center;
}
.mbr-buttons--activated .mbr-buttons__btn,
.mbr-buttons--activated .mbr-buttons__link {
  margin-left: 0;
  margin-right: 0;
}
.mbr-buttons--activated .mbr-buttons__link {
  font-size: 25px;
  padding: 10px 30px 2px;
}
.mbr-buttons--activated .mbr-buttons__btn {
  font-size: 15px;
  margin-top: 9px;
  padding: 15px 30px;
}
.mbr-buttons--freeze.mbr-buttons--activated .mbr-buttons__link {
  font-size: 25px !important;
}
.mbr-buttons--freeze.mbr-buttons--activated .mbr-buttons__link,
.mbr-buttons--freeze.mbr-buttons--activated .mbr-buttons__link:hover {
  color: #fff !important;
}
.mbr-buttons--freeze.mbr-buttons--activated .mbr-buttons__btn {
  font-size: 15px !important;
}
@media (max-width: 991px) {
  .mbr-buttons--active {
    left: 5px;
    text-align: center;
  }
  .mbr-buttons--active .mbr-buttons__btn,
  .mbr-buttons--active .mbr-buttons__link {
    margin-left: 0;
    margin-right: 0;
  }
  .mbr-buttons--active .mbr-buttons__link {
    font-size: 25px;
    padding: 10px 30px 2px;
  }
  .mbr-buttons--active .mbr-buttons__btn {
    font-size: 15px;
    margin-top: 9px;
    padding: 15px 30px;
  }
  .mbr-buttons--freeze.mbr-buttons--active .mbr-buttons__link {
    font-size: 25px !important;
  }
  .mbr-buttons--freeze.mbr-buttons--active .mbr-buttons__link,
  .mbr-buttons--freeze.mbr-buttons--active .mbr-buttons__link:hover {
    color: #fff !important;
  }
  .mbr-buttons--freeze.mbr-buttons--active .mbr-buttons__btn {
    font-size: 15px !important;
  }
}
@media (max-width: 767px) {
  .mbr-buttons--auto-align {
    left: 5px;
    text-align: center;
  }
  .mbr-buttons--auto-align.mbr-buttons--only-links {
    left: 0;
  }
}
@media (max-width: 530px) {
  .mbr-buttons {
    left: 0;
  }
  .mbr-buttons__btn,
  .mbr-buttons__link,
  .mbr-buttons--right .mbr-buttons__btn,
  .mbr-buttons--right .mbr-buttons__link {
    display: inline-block;
    margin: 0 0 13px 0;
    text-align: center;
    width: 100%;
  }
  .mbr-buttons--activated .mbr-buttons__btn,
  .mbr-buttons--activated .mbr-buttons__link,
  .mbr-buttons--active .mbr-buttons__btn,
  .mbr-buttons--active .mbr-buttons__link {
    width: auto;
  }
  .mbr-buttons--activated .mbr-buttons__btn,
  .mbr-buttons--active .mbr-buttons__btn {
    margin-top: 9px;
  }
}
.mbr-navbar__item a {
  color: white;
}
