#black {
	margin-top: 0px;
	background-color: #2f2f2f;
	min-height: 300px;
	width: 100%;
}

#black h3 {
	color: white;
}

#black h4 {
	color: white;
	text-transform: uppercase;
  font-size: 18px;
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 40px;
}

#black p {
	color: white;
	font-size: 16px;
	font-weight: 400;
}

#black i {
	font-size: 35px;
}

#black h1 {
	color: white;
	font-size: 70px;
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
}
/* Padding top & bottom */
.pt {
	padding-top: 15px;
	padding-bottom: 15px;
}
/* margin top & Bottom */
.mt {
	margin-top: 50px;
	margin-bottom: 50px;
}
.centered {
    text-align: center;
}
.banner-bottom-grids{
  min-height: 180px;
	margin:0 1em 2em 1em;
}
#groom-image{
	padding-bottom: 3em;
}
#bride-image{
	padding-bottom: 3em;
}
.important-people-head h3{
	color: #000000;
	font-size: 5.2em;
	font-family: 'Niconne', cursive;
	margin-bottom: 1em;
}
.important-people-text h4{
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.important-people-text h5{
	color: #69385b;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.important-people-text p{
	color: #6e6e6e;
	font-size: 15px;
	font-weight: 400;
	line-height:1.6em;
}
.important-people-text {
	padding: 5px;
	margin-top: 5px;
}
#bride-text{
  padding-left: 0.5em;
}
#groom-text{
  padding-right: 0.5em;
}
.important-people {
	padding: 6em 0;
}
.important-people-grid {
	margin-bottom: 5em;
}
.important-people-grid:nth-child(3) {
	margin-bottom: 1em;
}
i.facebook{
	width:65px;
	height:65px;
	background:url('../images/img-sprite.png') no-repeat 9px 0px;
	display:inline-block;
	margin-right:15px;
}
i.facebook:hover,i.twitter:hover,i.google-pluse:hover,i.pinterest:hover{
	opacity:0.5;
}
i.twitter{
	width:65px;
	height:65px;
	background:url('../images/img-sprite.png') no-repeat -69px 0px;
	display:inline-block;
	margin-right:15px;
}
i.google-pluse{
	width:65px;
	height:65px;
	background:url('../images/img-sprite.png') no-repeat -151px 0px;
	display:inline-block;
	margin-right:15px;
}
i.pinterest{
	width:65px;
	height:65px;
	background:url('../images/img-sprite.png') no-repeat -227px 0px;
	display:inline-block;
}
i.tw{
	width:65px;
	height:65px;
	background:url('../images/img-sprite.png') no-repeat -7px -80px;
	display:inline-block;
}
i.fb{
	width:65px;
	height:65px;
	background:url('../images/img-sprite.png') no-repeat -83px -80px;
	display:inline-block;
}
i.tw:hover,i.fb:hover{
	opacity:0.5;
}
.important-people-image {
	position: relative;
}
.important-people-image img {
	width: 100%;

	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius:25px;
	-khtml-border-radius: 25px;
}
.s-icons {
	position:absolute;
	top: 100px;
	left: 81px;
	display:none;
}

.important-people-image:hover{
	opacity:0.5;
	cursor:pointer;
}
.important-people-image:hover div.s-icons{
	display:block;
}
/*-- responsive-design --*/
@media only screen and (max-width:1366px) {
	.important-people {
		padding: 4em 0;
	}
	.important-people-head h3 {
		font-size: 5em;
		margin-bottom: 0.6em;
	}
	.birds img {
		width: 16%;
		left: 35em;
	}
	.important-people-image img{
		width:100%;
	}
}
@media only screen and (max-width:1280px) {
	.birds img {
		width: 14%;
		left: 35.8em;
		margin-top: 6em;
	}
	.banner-bottom-grids{
	  min-height: 160px;
		margin:0 1em 2em 1em;
	}
	.important-people-head h3 {
		font-size: 4.5em;
		margin-bottom: 0.8em;
	}
	.important-people-text h4 {
		font-size: 18px;
	}
	.important-people-text h5 {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.important-people-text p {
		font-size: 14px;
		line-height: 1.7em;
		height: 160px;
		/*overflow: hidden;*/
	}
}
@media only screen and (max-width:1180px) {
	.banner-bottom-grids{
		min-height: 120px;
		margin:0 1em 2em 1em;
	}
}
@media only screen and (max-width:1080px) {
	.banner-bottom-grids{
	 min-height: 110px;
	 margin:0 1em 2em 1em;
	}
}
@media only screen and (max-width:1024px) {
	.birds img {
		width: 13%;
		left: 30em;
		margin-top: 5em;
	}
	.important-people-image img{
	  width: 100%;
	}
	.important-people-head h3 {
		font-size: 4em;
		margin-bottom: 0.6em;
	}

	.important-people-image:nth-child(3) {
		padding: 0 12px 0 6px;
	}
	.s-icons {
		top: 79px;
		left: 56px;
	}
	.important-people-grid {
		margin-bottom: 3.5em;
	}
	.important-people {
		padding: 3em 0;
	}
}
@media only screen and (max-width:991px){
	.banner-bottom-grids{
	 min-height: 520px;
	 margin:0 1em 2em 1em;
 }
.important-people-grid {
		width: 100%;
		margin-bottom: 3em;
}
#bride-text{
	width: 65%;
	float:left;
}
#groom-image{
	float:left;
	width: 35%;
}
#bride-image{
  width: 35%;
	float:left;
}
#groom-text{
  width: 65%;
}
.important-people-text {
	padding: 0 15px 0 15px;
	margin-top: 15px;
	float: left;
}
.important-people-text h4{
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.important-people-text h5{
	color: #69385b;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.important-people-text p{
	color: #6e6e6e;
	font-size: 15px;
	font-weight: 400;
	line-height:1.6em;
}
}
@media only screen and (max-width:900px) {
.banner-bottom-grids{
	min-height: 460px;
	margin:0 1em 2em 1em;
}
}
@media only screen and (max-width:800px) {
	.banner-bottom-grids{
	 min-height: 410px;
	 margin:0 1em 2em 1em;
 }
	.birds img {
		left: 23.3em;
		margin-top: 4em;
	}
	#bride-text{
		width: 65%;
		float:left;
	}
	#groom-image{
		float:left;
		width: 35%;
	}
	#bride-image{
	  width: 35%;
		float:left;
	}
	#groom-text{
	  width: 65%;
	}
	.important-people-head h3 {
		font-size: 3.6em;
		margin-bottom: 0.5em;
	}
	.important-people-text {
		padding: 0 15px 0 15px;
		margin-top: 15px;
		float: left;
	}
	.important-people-image {
		/*padding: 0 15px;*/
		width: 60%;
		height: 100%;
		float: left;
		margin-bottom: 25px;
	}
	.important-people-text p {
		font-size: 15px;
	}
	.important-people {
		padding: 3em 0 12px 0;
	}
	i.facebook {
		width: 40px;
		height: 40px;
		background: url('../images/img-sprite.png') no-repeat 1px -3px;
		margin-right: 10px;
		background-size: 200px;
	}
	i.twitter {
		width: 40px;
		height: 40px;
		background: url('../images/img-sprite.png') no-repeat -49px -3px;
		margin-right: 15px;
		background-size: 200px;
	}
	i.google-pluse {
		width: 40px;
		height: 40px;
		background: url('../images/img-sprite.png') no-repeat -103px -3px;
		margin-right: 13px;
		background-size: 200px;
	}
	i.pinterest {
		width: 40px;
		height: 40px;
		background: url('../images/img-sprite.png') no-repeat -154px -3px;
		background-size: 200px;
	}
}
@media only screen and (max-width:768px) {
	.banner-bottom-grids{
	 min-height: 390px;
	 margin:0 1em 2em 1em;
 }
	#bride-text{
		width: 65%;
		float:left;
	}
	#groom-image{
		float:left;
		width: 35%;
	}
	#bride-image{
	  width: 35%;
		float:left;
	}
	#groom-text{
	  width: 65%;
	}
}
@media only screen and (max-width:736px) {
.banner-bottom-grids{
	 min-height: 360px;
	 margin:0 1em 2em 1em;
}
#bride-text{
	width: 65%;
	float:left;
}
#groom-image{
	float:left;
	width: 35%;
}
#bride-image{
  width: 35%;
	float:left;
}
#groom-text{
  width: 65%;
}
.important-people-head h3 {
	font-size: 3.2em;
}
.important-people-text {
	/*padding: 0 15px 0 0px;
	margin-top: 13px;
	margin-bottom: 28px;*/
}
.important-people-image {
/*	padding: 0 0 0 5px;
	margin: 11px 0 29px 0;*/
}
.s-icons {
	top: 63px;
	left: 46px;
}
.important-people-text p {
	font-size: 14px;
	height: 140px;
}
.important-people-image{
/*  padding: 5px;*/
}

}
@media only screen and (max-width:640px) {
	.banner-bottom-grids{
		 min-height: 340px;
		 margin:0 1em 2em 1em;
	}
	.important-people {
		padding: 2em 0 5px 0;
	}
	.birds img {
		left: 19.3em;
	}
	.important-people-text h4 {
		font-size: 18px;
	}
	.important-people-text h5 {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.important-people-text p {
		font-size: 13px;
		line-height: 1.7em;
		height: 130px;
		/*overflow: hidden;*/
	}
}
@media (max-width: 568px){
	.banner-bottom-grids{
		 min-height: 360px;
		 margin:0 1em 2em 1em;
	}
	.important-people-text {
     padding: 0 15px 0 15px;
	}
	#bride-text{
		width: 63%;
		float:left;
	}
	#groom-image{
		float:left;
		width: 37%;
	}
	#bride-image{
		width: 37%;
		float:left;
	}
	#groom-text{
		width: 63%;
	}
	.important-people-text h4 {
		font-size: 15px;
	}
	.important-people-text h5 {
		font-size: 15px;
		margin-bottom: 5px;
	}
	.important-people-text p {
		font-size: 12px;
		height: 150px;
	}
}
@media only screen and (max-width:480px) {
	.banner-bottom-grids{
		 min-height: 520px;
		 margin:0 1em 2em 1em;
	}
	#bride-text{
		width: 100%;
		float:left;
	}
	#groom-image{
		float:left;
		width: 50%;
		padding-bottom: 0;
	}
	#bride-image{
		width: 50%;
		float:left;
	  padding-bottom: 0;
	}
	#groom-text{
		width: 100%;
	}
	.important-people-head h3 {
		font-size: 2.7em;
	}
	.important-people-text h4 {
		font-size: 16px;
	}
	.important-people-text h5 {
		font-size: 16px;
	}
	.important-people-text {
		width: 60%;
	}
	.important-people-image {
		/*widtH: 40%;*/
		margin: 17px 0 29px 0;
		padding: 0;
	}
	.important-people-text p {
		height: 133px;
	}
	.important-people-image:nth-child(3) {
		padding: 0 12px 0 0px;
	}
	i.tw {
		width: 40px;
		height: 40px;
		background: url('../images/img-sprite.png') no-repeat -6px -56px;
		background-size: 200px;
	}
	i.fb{
		width: 40px;
		height: 40px;
		background: url('../images/img-sprite.png') no-repeat -55px -56px;
		background-size: 200px;
	}
	.s-icons {
		top: 71px;
	}
	.birds img {
		width: 40%;
	}
	.birds img {
		left: 4.6em;
	}
}
@media only screen and (max-width:320px) {
	.birds img {
		width: 30%;
		left: 4.2em;
		margin-top: 2.2em;
	}
	#groom-image, #bride-image{
		margin-top: 6em;
	}
	.important-people-head h3 {
		font-size: 2em;
	}
	.important-people {
		padding: 1.2em 0 5px 0;
	}
	.important-people-text h4 {
		font-size: 14px;
	}
	.important-people-text h5 {
		font-size: 14px;
		margin-bottom: 3px;
	}
	.important-people-text p {
		height: 68px;
		font-size: 13px;
	}
	.important-people-text {
		padding: 0 7px 0 0px;
		margin-bottom: 28px;
	}
	.important-people-image {
	/*	widtH: 38%;*/
		margin: 11px 0 14px 0;
	}
	.important-people-text {
		width: 62%;
		margin-bottom: 15px;
	}
	i.tw {
		width: 30px;
		height: 30px;
		background: url('../images/img-sprite.png') no-repeat -5px -33px;
		background-size: 130px;
	}
	i.fb {
		width: 30px;
		height: 30px;
		background: url('../images/img-sprite.png') no-repeat -37px -33px;
		background-size: 130px;
	}
	.s-icons {
		top: 38px;
		left: 25px;
	}
	i.facebook {
		width: 30px;
		height: 30px;
		background: url('../images/img-sprite.png') no-repeat 1px -3px;
		margin-right: 5px;
		background-size: 150px;
	}
	i.twitter {
		width: 30px;
		height: 30px;
		background: url('../images/img-sprite.png') no-repeat -37px -3px;
		margin-right: 5px;
		background-size: 150px;
	}
	i.google-pluse{
		width: 30px;
		height: 30px;
		background: url('../images/img-sprite.png') no-repeat -77px -3px;
		margin-right: 5px;
		background-size: 150px;
	}
	i.pinterest {
		width: 30px;
		height: 30px;
		background: url('../images/img-sprite.png') no-repeat -115px -3px;
		background-size: 150px;
	}
}
